.header {
    max-width: 100%;
    background-color: transparent;
}

.header__covid19 {
    background-color: #222;
    display: flex;
    justify-content: center;
}

.header__covid19-link {
    color: #a3a3a3;
    padding: 20px 0;
    font-size: 1.5rem;
}

.header__covid19-link:hover {
    filter: brightness(0.8);
}

.header__body {
    position: relative;
    height: 550px;
}

.header__body-background {
    height: 100%;
    filter: brightness(0.8);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.header__body-navbar {
    position: absolute;
    top: 0;
    left: 80px;
    right: 80px;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.header__body-navbar--fixed {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 80px;
    background-color: var(--white-color);
    color: var(--text-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all .2s linear;
}

.header__body-navbar-logo {
    width: 30px;
    height: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width .2s linear;
}

.header__body-navbar-logo-svg {
    width: 100%;
    height: 34px;
    fill: var(--white-color);
}

.header__body-navbar-btn-search {
    display: none;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding-right: 10px;
}

.header__body-navbar-btn-search > span {
    color: var(--text-color);
}

.header__body-navbar-btn-search-icon {
    width: 30px;
    border-radius: 24px;
    font-weight: 700;
    height: 30px;
    padding: 8px;
    stroke: var(--white-color);
    stroke-width: 4;
    background-color: #FF385C;
}

.header__body-navbar--fixed 
.header__body-navbar-btn-search {
    display: flex;
}

.header__body-navbar--fixed 
.header__body-navbar-logo-svg {
    fill: #FF385C;
}

.header__body-navbar-general {
    z-index: 2;
    display: flex;
    align-items: center;
}

.header__body-navbar-general-author {
    font-weight: 500;
}

.header__body-navbar--fixed 
.header__body-navbar-general-author {
    color: var(--text-color);
}

.header__body-navbar-general-languages {
    width: 16px;
    height: 16px;
    fill: var(--white-color);
}

.header__body-navbar--fixed 
.header__body-navbar-general-languages {
    fill: var(--text-color);
}

.header__body-navbar-general-account {
    display: inline-flex;
    user-select: none;
    border-radius: 32px;
    height: 42px;
    margin-left: 8px;
    padding: 5px 5px 5px 12px;
    background-color: var(--white-color);
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
}

.header__body-navbar-general-account-icon {
    width: 16px;
    height: 16px;
    fill: #595959;
    stroke: currentColor;
    stroke-width: 3;
    margin-right: 12px;
}

.header__body-navbar-general-account-user {
    position: relative;
    width: 30px;
    height: 30px;
    fill: #717171;
}

.header__body-navbar-general-account-user-list {
    display: none;
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    min-width: 240px;
    padding-left: 0;
    list-style: none;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__body-navbar-general-account-user-list-item:first-child {
    font-weight: 500;
}

.header__body-navbar-general-account-user-list-item--border-bottom {
    border-bottom: 1px solid #ddd;
    background-color: var(--white-color);
}

.header__body-navbar-general-account-user-list-item-link {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
}

.header__body-navbar-general-account-user-list-item-link:hover {
    filter: brightness(0.96);
}

.header__body-filter {
    position: absolute;
    top: 18px;
    padding-top: 4px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top .2s linear;
}

.header__body-filter-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header__body-filter-menu-item {
    position: relative;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 10px 16px;
}

.header__body-filter-menu-item:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__body-filter-menu-item:hover::after,
.header__body-filter-menu-item.header__body-filter-menu-item--active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    bottom: 0;
    border-bottom: 2px solid var(--white-color);
}

.header__body-filter-menu-item:hover::after {
    width: 4px;
}

.header__body-filter-menu-item.header__body-filter-menu-item--active::after {
    width: 18px;
}

.header__body-filter-menu-item>a {
    display: block;
    color: var(--white-color);
    text-decoration: none;
}

.header__body-filter-menu-item>a::after {
    top: 50%;
    left: 0;
    right: 0;
    height: 100%;
    transform: translateY(-50%);
    content: "";
    position: absolute;
}

.header__body-filter-menu-item--active:hover {
    opacity: 1;
    cursor: default;
}

.header__body-filter-search {
    position: relative;
    padding-left: 0;
    width: 100%;
    max-width: 850px;
    height: 66px;
    margin-top: 20px;
    border-radius: 32px;
    background-color: var(--white-color);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__body-filter-search-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.header__body-filter-search-btn:hover {
    filter: brightness(0.8);
}

.header__body-filter-search-item {
    position: relative;
    padding: 16px 0;
    width: 100%;
    min-width: 180px;
    height: 100%;
}

.header__body-filter-search-item:first-child {
    min-width: 270px;
}

.header__body-filter-search-item:hover {
    border-radius: 32px;
    cursor: pointer;
    background-color: #ebebeb;
    user-select: none;
}

.header__body-filter-search-item-wrap {
    border-left: 1px solid #ddd;
    padding: 0 30px;
}

.header__body-filter-search-item:hover .header__body-filter-search-item-wrap {
    border-left-color: transparent;
}

.header__body-filter-search-item:hover+.header__body-filter-search-item .header__body-filter-search-item-wrap {
    border-left-color: transparent;
}

.header__body-filter-search-item:first-child .header__body-filter-search-item-wrap {
    border-left: none;
}

.header__body-filter-search-item-heading {
    font-size: 1.4rem;
    font-weight: 500;
}

.header__body-filter-search-item-input {
    padding: 4px 0;
    padding-right: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.8rem;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

.header__body-filter-search-item-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: #dbdbdb;
    padding: 6px;
    border-radius: 10px;
    content: url(https://icon-library.com/images/x-button-icon/x-button-icon-17.jpg);
}

.header__body-filter-search-item-description {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #757575;
    width: 150px;
    height: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header__body-filter-search-item-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.header__body-filter-search-item-btn-icon {
    width: 14px;
    height: 14px;
    fill: var(--white-color);
    stroke: currentColor;
    stroke-width: 3;
}

.header__body-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__body-content-text {
    font-size: 1.8rem;
    margin-bottom: 32px;
    color: var(--text-color);
    font-weight: 600;
}

.section-item {
    margin-top: 32px;
}

.section-item__heading {
    line-height: 3rem;
    font-size: 3rem;
    color: var(--text-color);
}

.section-item__description {
    margin-top: 16px;
    line-height: 3rem;
    font-size: 2.8rem;
    color: var(--text-color);
}

.section-item__body {
    margin-top: 32px;
}

.section-item__body-link {
    position: relative;
    margin: 8px 0;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.section-item__body-link--column {
    flex-direction: column;
    align-items: flex-start;
}

.section-item__body-link-img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 10px;
}

.section-item__body-link-wrap {
    flex: 1;
}

.section-item__body-link-wrap-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.section-item__body-link-wrap-description {
    font-size: 1.4rem;
    margin-top: 8px;
}

.section-item__body-link-wrap-drive-time {
    font-size: 1.4rem;
    margin-top: 8px;
}

.section-item__body-link-portrait-img {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 10px;
}

.section-item__body-link-landscape-img {
    width: 100%;
    height: 402px;
    margin: 32px 0;
    border-radius: 10px;
    object-fit: cover;
}

.section-item__body-link-absolute {
    position: absolute;
    top: 0;
    height: 100%;
    margin: auto 0;
    width: 365px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 80px;
}

.section-item__body-link-absolute--light
.section-item__body-link-absolute-title,
.section-item__body-link-absolute--light 
.section-item__body-link-absolute-description{
    color: var(--white-color);
}

.section-item__body-link-absolute--light 
.section-item__body-link-absolute-btn {
    background-color: var(--white-color);
    color: var(--text-color);
}

.section-item__body-link-absolute-title {
    font-size: 4rem;
    line-height: 4rem;
}

.section-item__body-link-absolute-description {
    margin-top: 16px;
    line-height: 2.4rem;
    font-size: 1.8rem;
}

.section-item__body-link-absolute-btn {
    width: 155px;
    margin-top: 48px;
    font-size: 1.8rem;
    border-radius: 10px;
    padding: 16px;
    font-weight: 500;
    color: var(--white-color);
    background-color: #222;
    text-align: center;
}

#footer {
    margin-top: 28px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
}

.footer__heading {
    margin-top: 48px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.footer__list {
    margin-top: 12px;
    list-style: none;
}

.footer__list-item-link {
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.footer__list-item-link:hover {
    filter: brightness(1.2);
    text-decoration: underline;
}

.footer__bottom {
    margin-top: 38px;
    padding: 28px 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.footer__bottom-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
}

.footer__bottom-list--underline 
.footer__bottom-list-item-link {
    text-decoration: underline;
}

.footer__bottom-list-item {
    color: var(--text-color);
    font-size: 1.4rem;
    margin: 0 10px;
}

.footer__bottom-list-item--margin-right-32 {
    margin-right: 32px;
}


.footer__bottom-list-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.footer__bottom-list-item-link > span:before {
    content: "$";
    padding-right: 3px;
}

.footer__bottom-list-item-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.footer__bottom-list-item-link-icon {
    position: relative;
    top: -1px;
    left: 0;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
