/* Desktop */
@media (min-width: 1024px) {
    .header__body-navbar-logo {
        width: 105px;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px), 
(max-width: 1024px) and (min-height: 1366px),
(max-width: 1024px) and (min-height: 768px){
    .grid__tablet {
        padding: 0 40px;
    }

    .grid__tablet-column-3 {
        width: calc((4/12) * 100%);
    }

    .grid__tablet-column-1 {
        width: 100%;
    }

    .footer__list {
        column-count: 3;
    }

    .header__body-navbar {
        left: 40px;
        right: 40px;
    }

    .header__body-navbar--fixed {
        padding: 0 40px;
        left: 0;
        right: 0;
    }

    .header__body-filter {
        top: 80px;
        left: 40px;
        right: 40px;
    }

    .header__body-filter-search-item {
        min-width: 140px;
    }

    .header__body-filter-search-item:first-child {
        min-width: unset;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer__bottom-list {
        margin: 8px 0;
    }

    .header__body-filter-search-item-wrap {
        padding: 0 0 0 15px;
    }
}

@media (max-width: 1024px) and (min-height: 768px) {
    .header__body-navbar-logo {
        width: 30px;
    }
}

@media (min-width: 1024px) and (min-height: 1366px) {
    .header__body-filter {
        top: 18px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* MObile */
@media (max-width: 739px) {
    .grid__mobile-column-1 {
        width: 100%;
    }

    .header__body-navbar {
        justify-content: center;
    }

    .header__body-navbar-btn-search {
        margin-left: auto;
    }

    .header__body-navbar-general {
        display: none;
    }

    .header__body-filter-menu {
        display: none;
    }

    .header__body-filter-search-item:not(.header__body-filter-search-item:first-child) {
        display: none;
    }

    .header__body-filter-search-item-heading {
        font-size: 1.8rem;
    }

    .header__body-filter-search-item-input {
        font-size: 1.6rem;
    }

    .header__body-filter-search-item:first-child 
    .header__body-filter-search-item-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-item__body {
        padding: 16px 0;
        border-bottom: 1px solid #ccc;
    }

    .section-item:last-child 
    .section-item__body {
        border-bottom: none;
    }

    .section-item__body-link {
        align-items: center;
        margin: 16px 0;
    }

    .footer__list {
        column-count: 2;
    }
}